.submit_form{
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin: 5% auto;
    padding: 10px;
    width: 250px;
}
.submit_form label {
    display: block;
    float: right;
    margin: 0 auto;
    padding: 2px 5px;
    width: 90%;
}
.submit_form input {
    border: 1px solid black;
    margin: 0 auto 10px;
    padding: 4px 9px;
    text-align: center;
    width: 90%;
}
.submit_form .row div, .submit_form .row label {
	display: inline;
	float: none;
}
.submit_form .row {
	margin-bottom: 10px;
}
.submit_form input[type=submit]:hover {
	background-color: #818170;
}
.submit_form input[type="submit"] {
	cursor: pointer;
	width: auto;
	float:left;
	border: none;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #53534c;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	margin-right: 2.5em;
	margin-bottom: 1.7em;
}
/********************************************/
.table_form {
	border: none;
}/*
.table_form input[type="submit"], .table_form input[type="submit"]:hover {
	text-decoration: none;
	background-color: inherit;
	color: blue;
}*/
td a:visited{
	color: blue;
}
td a, .table_form input[type="submit"] {
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	height: 14px;
}
.table_form input[type="submit"], .table_form input[type="submit"]:hover{
	text-decoration: none;
	border: none;
	background-color: inherit;
	color: blue;
	cursor: pointer;
}
/*********************************************/

thead tr {
	border-bottom: 3px solid black;
}
table tr {
	padding: 2px;
}
table {
	margin: 2% auto;
}
table td, table th {
	min-width: 80px;
	text-align: center;
}
table td {
	padding: 5px 3px;
}
table th {
	padding: 8px 3px;
}
.table_form {
	display: inline-block;
}
table tbody .odd {
	background-color: #d0d0d0;
}
