.submit_form {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 4px 2px 13px 5px #CCCCB2;
    display: block;
    margin: 5% auto 0 auto;
    padding: 10px;
    width: 250px;
}
.submit_form label {
    display: block;
    float: right;
    margin: 0 auto;
    padding: 2px 5px;
    width: 90%;
    max-width: 250px;
    clear: right;
    float: right;
}
.submit_form input[type="file"] {
	direction: ltr;
	margin-right: 25px;
	border:-moz-workspace;
	text-align:inherit;
	width: auto;
}
textarea {
	margin-bottom: 8px;
	width: 97%;
}
.submit_form select {
	display: block;
	float: right;
	clear: right;
}
.product_form {
	width: 580px;
	margin-top: 2%;
}
.submit_form input {
    margin: 0 auto 8px;
    padding: 4px 9px;
    text-align: center;
    width: 90%;
    float: right;
    clear: right;
    max-width: 280px;
}
.submit_form .row input {
	margin: 3px;
}
.submit_form .row div, .submit_form .row label {
	display: inline;
	float: none;
}
.submit_form .row {
	margin-bottom: 10px;
	clear: right;
}
.submit_form input[type="submit"]:hover {
	background-color: #818170;
}
.submit_form input[type="submit"] {
	float:left;
}
.submit_form input[type="submit"], .submit_form button{
	cursor: pointer;
	width: auto;
	border: none;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #53534c;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
/*margin-right: 2.5em;*/
	margin-bottom: 1.7em;
}
.submit_form button {
	float:right;
}
.submit_form .hrow label{
	width: 30%;
	display: inline-block;
	clear: none;
}
.submit_form .hrow {
	clear: both;
}
.submit_form .hrow input {
	width: 15%;
}
.submit_form .hrow select, .submit_form .hrow option {
	clear: none;
	margin-right: 15%;
}
.submit_form .hrow .dblock {
	width: 30%;
	display: block;
	float: right;
}
.submit_form .hrow input.date {
	width: 40%;
	height: 12px;
}

