.ui-dialog
{
    font-size: 11px;
    font-family: B Nazanin;
}
.ui-dialog .ui-dialog-titlebar-close
{
    right: inherit;
}

.ui-dialog .ui-dialog-buttonpane button 
{
    font-family: B Nazanin;
    float: left;
}

.ui-draggable .ui-dialog-titlebar 
{
    direction: ltr;
}

.ui-dialog .ui-dialog-title 
{
    float: right;
    direction: rtl;
}

.ui-dialog .ui-dialog-buttonpane
{
    float: left;
}